SMTP_HOST=smtppro.zoho.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contact@fakibajgobeshok.org
SMTP_PASS=
MAIL_FROM="Fakibaj Gobeshok <contact@fakibajgobeshok.org>"
MAIL_TO=contact@fakibajgobeshok.org
